{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Begin page content -->

    <div class="container">
        <div class="row">
            <div class="col">
                <h1>{{ pagename }}</h1>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <form action="{% url 'snippet-edit' snippet.id %}" method="post">
                   {% csrf_token %}

                       {{ form.as_p }}
                        <div class="col-2">
                       <input type="submit" class="btn btn-primary btn-block" value="Submit"/>
                        </div>

                </form>


            </div>
        </div>
    </div>


{% endblock %}
